.content { 
    overflow: auto; 
    width: 80%; 
    background: white; 
    margin: 10px auto;
} 

.para {
    width: 45%; 
    margin: 5px; 
    padding: 1em; 
} 

.left  { 
  float:left;  
}

.right { 
  float:right; 
} 

#title {
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

img {
  width: 100%;
}

.form h2 {
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.form {
  display: block;
  background-color: beige;
  padding: 20px;
}

.form form {
  margin: 0 500px 0 500px;
}

form label {
  display: block;
  padding: 10px;
}